# Dependency directories
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Git and dev setups
.git
.gitignore
.dockerignore
.github
.env

# Build output
dist/

# Docker config
Dockerfile
docker-compose.yml
