# Dependency directories & logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Git & GitHub
.git
.gitignore
.github

# Environment files
.env
.env.*
!.env.example

# Build output & coverage
dist/
coverage/
.nyc_output/

# Docker config
Dockerfile*
docker-compose*.yml

# IDEs & Editors
.vscode/
.idea/

# Development ignore files
.dockerignore

# Documentation
*.md