
PORT=3000
NODE_ENV=development

DB_USER=username
DB_PASSWORD=password
DB_NAME=db_name

DATABASE_URL=postgres://admin:supersecret@localhost:5432/mydb

SALT=10


JWT_SECRET_KEY=this is a super hard secret
JWT_ACCESS_TOKEN_EXPIRES_IN=1d
JWT_REFRESH_TOKEN_EXPIRES_IN=604800000


EMAIL_USER=your email
EMAIL_PASS=pass from google console
FRONTEND_URL=http://localhost:5173

RESET_TOKEN_EXPIRY=3600000

RATE_LIMITER_TTL=60000
RATE_LIMITER_LIMIT=100


RAZORPAY_API_KEY=
RAZORPAY_SECRET=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

AWS_REGION=
AWS_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=